{% extends "base.html" %}

{% block title %}BCN{% endblock %}

{% block head %}
	
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    
    <style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}
		.menu {
			width: 400px;
		}
		.legend {
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
		
		#logo {
	        position: absolute;
	        bottom: -0.7%;
	        left: 5%;
	        z-index: 1000;
    	}
	</style>
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js" type="application/javascript"></script>
    
{% endblock %}

{% block body %}


	<div id="logo"><img src='../static/media/images/open-dai-logo-for-web-bottom.png' style="width:400px"/></div>
	<div id="map"></div>
	
	<script type="text/javascript">
	
	    var minimal_style = 22677,
	    	normal_style = 997,
	    	midnight_style = 999;
	    
	    var	base_key = 'BC9A493B41014CAABB98F0471D759707'
	     	kram_key = '32186e05680a4c8dacc22302bc6265c1';
	    
	    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
	    	cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>';
		
		var minimal = L.tileLayer(cloudmadeUrl, {key: kram_key, styleId: minimal_style, attribution: cloudmadeAttribution}),
			normal = L.tileLayer(cloudmadeUrl, {key: kram_key, styleId: normal_style, attribution: cloudmadeAttribution}),
			midnight  = L.tileLayer(cloudmadeUrl, {key: kram_key, styleId: midnight_style,   attribution: cloudmadeAttribution});
		
		var map = L.map('map', {
			    center: new L.LatLng(41.3850639, 2.1734035),
    			zoom: 12,
    			layers: [minimal],
    			zoomControl: false
			
		});
	
		var zoomControl = L.control.zoom({position:'bottomleft'});
		zoomControl.addTo(map);
		

		function getColor(d) {
		    return d >= 2 ? '#800026' :
		           d >= 1 ? '#FC4E2A' :
		                    '#FFEDA0' ;
		}
		
		function style(feature) {
		    return {
		        fillColor: getColor(feature.properties.Pollution.alert),
		        weight: 2,
		        opacity: 1,
		        color: 'white',
		        dashArray: '3',
		        fillOpacity: 0.7
		    };
		}
		
	    // controls
		var baseMaps = {
		    "Minimal": minimal,
		    "Normal": normal,
		    "Night View": midnight
		};
		
		var overlayMaps = {
		    //"Punts": punts
		};
		
		var controlLayer = L.control.layers(baseMaps, overlayMaps, {position:'bottomright'});
		controlLayer.addTo(map);
		
		var neighborhoods = [];
		var geoJsonLayer;

		// GeoJson Pollution
	    $.ajax({
	        type: "GET",
	        url: "pollution_async.geojson",
	        success: function(bcnMap, textStatus, jqXHR){
	        	
	            var features = bcnMap.features;
	            var polygons = [];
	            
	            //L.geoJson(bcnMap, {style: style}).addTo(map);
	            var geoJsonLayer =  new L.geoJson(bcnMap, {
	            	style: style,
	            	onEachFeature: function(feature, layer){
	            		// 
	            		layer.bindPopup('District: ' + feature.properties.Pollution.district + ' <br> ' +
	            						 'so2: ' + feature.properties.Pollution.so2+ ' <br> ' +
	            						 'no2: ' + feature.properties.Pollution.no2+ ' <br> ' +
	            						 'o3: ' + feature.properties.Pollution.o3+ ' <br> ' +
	            						 'co: ' + feature.properties.Pollution.co+ ' <br> ' +
	            						 'pm10: ' + feature.properties.Pollution.pm10+ ' \n ');
	            	}});
	            
	            controlLayer.addOverlay(geoJsonLayer, "Pollution");
	            map.addLayer(geoJsonLayer);
	            
	            //geoJsonLayer.addTo(map);
	            //controlLayer.addTo(map);
	            
	            /*
	            // Pinta poligons a ma
	            for(var i = 0; i < features.length; i++){
	                var polygonCoordinates = features[i].geometry.coordinates[0];
	                var polygon = [];
	                
	                for(var j = 0; j < polygonCoordinates.length; j++){
	                    var coordinate = [];
	                    coordinate.push(polygonCoordinates[j][1]);
	                    coordinate.push(polygonCoordinates[j][0]);
	                    polygon.push(coordinate);
	                }
	                polygons.push(polygon);
	            }
	            for(var k = 0; k < polygons.length; k++){
	                var neighborhood = L.polygon(polygons[k], {weight: 1}).addTo(map);
	            }
	            */
	
	        },
	        error: function(jqXHR, textStatus, error){
	            console.log(error);
	        }
	    });
	    
	    	var legend = L.control({position: 'topright'});
			
			legend.onAdd = function (map) {

		    var div = L.DomUtil.create('div', 'info legend'),
		        grades = [0, 1, 2],
		        labels = ["Normal", "Poor", "Bad"];
		
		    // loop through our density intervals and generate a label with a colored square for each interval
		    for (var i = 0; i < grades.length; i++) {
		        div.innerHTML +=
		            '<i style="background:' + getColor(grades[i]) + '"></i> ' +
		            labels[i] + '<br>' ;
		    }
		
		    return div;
			};
			
			legend.addTo(map);
			
			
		// GeoJson Traffic
		
		function getColorTraffic(d) {
		    return 	d >= 5 ? '#000000' :
		    		d >= 4 ? '#8B0000' :
		    		d >= 3 ? '#EE0000' :
		    		d >= 2 ? '#EE4000' :
		           	d >= 1 ? '#FFD700' :
		                     '#99CC32' ;
		}
		
		function styleTraffic(feature) {
		    return {
		        //fillColor: getColorTraffic(feature.properties.status),
		        weight: 2,
		        opacity: 1,
		        color: getColorTraffic(feature.properties.status),
		        //dashArray: '3',
		        fillOpacity: 0.7
		    };
		}		
		
	    $.ajax({
	        type: "GET",
	        url: "traffic_async.geojson",
	        success: function(bcnMap, textStatus, jqXHR){
	        	
	            var features = bcnMap.features;
	            var polygons = [];
	            
	            //L.geoJson(bcnMap, {style: style}).addTo(map);
	            var geoJsonLayer =  new L.geoJson(bcnMap, {
	            	style: styleTraffic,
	            	onEachFeature: function(feature, layer){
	            		// 
	            		layer.bindPopup('Status: ' + feature.properties.status + ' \n ' +
	            						 'Forecat: ' + feature.properties.forecast);
	            	}});
	            
	            controlLayer.addOverlay(geoJsonLayer, "Traffic");
	            map.addLayer(geoJsonLayer);
	
	        },
	        error: function(jqXHR, textStatus, error){
	            console.log(error);
	        }
	    });
	    
	    

		
	</script>
	

{% endblock %}
